<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<!--<meta http-equiv="refresh" content="5">-->
	<meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="generator" content="Codeply">
	<!--<link rel="stylesheet" href="./css/bootstrap.min.css" />-->
	<!--<link rel="stylesheet" href="./css/animate.min.css" />-->
	<!--<link rel="stylesheet" href="./css/ionicons.min.css" />-->
	<!--<link rel="stylesheet" href="./css/styles.css" />-->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<meta charset="utf-8">
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<style type="text/css">
		.button_new{
		background:#C6B5B5;
		  color:#fff;
		  border:none;
		  position:relative;
		  height:15%;
		  font-size:1.6em;
		  padding:0 2em;
		  cursor:pointer;
		  transition:800ms ease all;
		  outline:none;
	}
	.button_new:hover{
	  background:none;
	  color:#fff;
	}
	.button_new:before,.button_new:after{
	  content:'';
	  position:absolute;
	  top:0;
	  right:0;
	  height:2px;
	  width:0;
	  background: #fff;
	  transition:400ms ease all;
	}
	.button_new:after{
	  right:inherit;
	  top:inherit;
	  left:0;
	  bottom:0;
	}
	.button_new:hover:before,.button_new:hover:after{
	  width:100%;
	  transition:800ms ease all;
	}
	.login {

		/*
			낮 : https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb
			밤 : https://images.pexels.com/photos/919/night-dark-hotel-luxury.jpg?w=940&h=650&auto=compress&cs=tinysrgb
		*/
		background-size: cover;
		width: 100%;
		height: 100%;
		opacity: 0.45;
		position: absolute;
		z-index: -1;
	}
	
	#img {
		position: absolute;
		top: 0%;
		left:0%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -1000;
		overflow: hidden;
		opacity:0.5;
		
	}
	#noApp {
	    padding-top:10%;
	}
	/*달력 css*/
    /** {box-sizing:border-box;}*/
    
    #calendar_container{
    	width:40%;
    	height:450px;
    	display:inline-block;
    }
    
    .week{
    	text-align:center;
    	height:6%;
    	color:#666;
    	font-weight:bold;
    }
    .day{
    	text-align:center;
    	color:#777;
    	height:6%;
    }
    .w3-container{
    	width:40%;
    	height:100%;
    	display:inline-block;
    }
    .user_login_location{
    	margin-top:10%;
    	width:100%; 
    	height:100%;
    	text-align:center;
    }

</style>

<%#TODO : CSS 꾸미기 / 반응형으로 꾸며야해...%>
<%#TODO : 로그인창으로 되돌아 가는것 도 끝내야만해 .%>
<%#TODO : 수요일에는 회원가입을 하고 여러 케이스에서 확인해야자%>

<body>
	<div class="myPage" >
		<img id="img" src="waiting.jpg">
		
		</img>
	</div>
	
	<div class="user_login_location">
		
		<% if ApplicationForm.find_by_user_id(current_user) != nil %>
			<h1 style="font-Weight:bold;"> My Page</h1>
			      <div class="w3-container">
			          <div class="table-responsive">          
						  <table class="table table-hover table_myinfo">
						      <tbody>
						      <tr >
						        <th>대표자 이름</th>
						        <td><%= @user_information.representiveName %></td>
						      </tr>
						      <tr >
						        <th>호텔 정보</th>
						        <td><%=@user_information.area %>, <%=@user_information.hotel %></td>
						      </tr>
						      <tr>
						        <th>체크 인</th>
						        <td><%= @user_information.check_in %></td>
						      </tr>
						      <tr>
						        <th>체크 아웃</th>
						        <td><%= @user_information.check_out %></td>
						      </tr>
						      <!--<tr>-->
						      <!--  <th>match_1</th>-->
						      <!--  <td><%= @match_1 %></td>-->
						      <!--</tr>-->
						      <!--<tr>-->
						      <!--  <th>match_2</th>-->
						      <!--  <td><%= @match_2 %></td>-->
						      <!--</tr>-->
						      <!--<tr>-->
						      <!--  <th>match_3</th>-->
						      <!--  <td><%= @match_3 %></td>-->
						      <!--</tr>-->
						      <!--<tr>-->
						      <!--  <th>match_4</th>-->
						      <!--  <td><%= @match_4 %></td>-->
						      <!--</tr>-->
						      <tr>
						        <th>신청현황</th>
						        <td>
						        	<% if @matched == true %>
						        	 <div style="border-radius:100%; background-color:green;height:30px;width:30px; z-index:1;"></div>
						        	 <p>매치가 되었습니다</p>
				        			 
				        			<% else %>
				        			
						        	 <div style="border-radius:100%; background-color:red;height:30px;width:30px; z-index:1;"></div>
				        			 <p>매치가 되지 않았습니다.</p>
				        			<% end %>
				        		</td>
						      </tr>
						  </table>
						  
					  </div>
			      </div>
		      	<div id="calendar_container">
		      		<table style="width:100%; height:100%;">
		      			<tbody>
		      			<tr>
		      				<td colspan="7" style="height: 20%; text-align:center; background: #1abc9c; color:#fff; font-size:180%;">2017 August</td>
		      			</tr>
		      			<tr style="background-color: #ddd;">
		      				<td class="week">Sun</td>
		      				<td class="week">Mon</td>
		      				<td class="week">Tue</td>
		      				<td class="week">Wed</td>
		      				<td class="week">Thu</td>
		      				<td class="week">Fri</td>
		      				<td class="week">Sat</td>
		      			</tr>
		      			<% while @i < @row do %>
			      			<tr style="background:#eee;">
			      				<% while @j < @week do %>
			      				<td class="day">day</td>
			      				<% @j = @j + 1 %>
			      				<% end %>
			      			</tr>
			      		<% @i = @i + 1 %>
			      		<% @j = 0 %>
		      			<% end %>
		      			</tbody>
		      		</table>
			      	
	      		</div>	
			  <a style="display:block;" href="/login"><button class="button_new" style="width:18%;height:50px;margin-top:2%;" type="submit" >이전 페이지</button></a>
		<%else%>
			  <div id = "noApp">
			   <h1 style="color: rgba(145, 58, 58, 0.66); font-weight:bold">작성된 신청현황이 없습니다.</h1><br>
			   <div>
			   <a href="/map"><button class="button_new" style="width:20%;height:50px;display:inline;" type="submit" >Go to the map</button></a>
			   <a href="/login"><button class="button_new" style="width:20%;height:50px;display:inline;" type="submit" >이전 페이지</button></a>
			  </div>
			  </div>
		<%end%>
		   
			
	</div>
	
</body>

</html>
